{% extends "base.html" %}

{% block title %} Detalles de los Turnos {% endblock %}

{% block content %}
    <h1 class="my-3">Detalle del Turno</h1>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <h4 class="card-header">
                    {{ turno }}
                </h4>

                <div class="card-body">
                    <p>
                        <strong>Turno:</strong>
                        {{ turno.id_rol_usu }}
                    </p>
                    <p>
                        <strong>Fecha de Reserva:</strong>
                        {% if turno.fecha_hr_turno %}
                            {{ turno.fecha_hr_turno }}
                        {% else %}
                            ---
                        {% endif %}
                    </p>
                    <p>
                        <strong>Usuario:</strong>
                        {% if turno.id_rol_usu.name %}
                            {{ turno.id_rol_usu.name }}
                        {% else %}
                            ---
                        {% endif %}
                    </p>
                    <p>
                        <strong>Estado:</strong>
                        <a href="#">{{ turno.autorizado }}</a>
                    </p>
                </div>
                {% if perms.catalogo.reserve_ejemplar %}
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">
                            Solicitar turno
                        </a>
                    </div>
                {% endif %}
            </div>
            
            <a href="{% url 'turnos_list' %}" class="btn btn-link">
                <i class="fas fa-arrow-left mr-1"></i> Volver 
            </a>
        </div>
    </div>
{% endblock %}
