{% extends "base.html" %}

{% block title %} Cancelar reserva {% endblock %}

{% block content %}
    <h1 class="my-3">¿Confirmar cancelación?</h1>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">¿Deseas cancelar esta reservación?</h4>
                    
                    <p><strong>Turno:</strong> {{ turno }}</p>
                    <p><strong>Fecha:</strong> {{ turno.fecha_hr_turno }}</p>
                    <p><strong>Servicio:</strong> {{ turno.serv }}</p>
                </div>

                <div class="card-footer">
                    <form method="POST" action=".">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'turnos_list' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
