{% extends "base.html" %}

{% block title %} Turnos Reservados {% endblock %}

{% block content %}
    <h1 class="my-3">Lista de Turnos</h1>
    <hr>

    {% include "partials/alerts.html" %}  

    <div class="col-12">
        {% if perms.DentCorpApp.add_turnos %}
            <a href="{% url 'turnos_create' %}" class="btn btn-success mb-3">
                <i class="fas fa-plus mr-1"></i> Nuevo Turno
            </a>
        {% endif %}

        <div class="row">
            {% for turno in turnos %}
                <div class="col-md-4 mb-1">
                    <div class="card shadow-sm">

                        <!-- {% if turno.imagen %}
                            <img src="{{ ejemplar.libro.imagen.url }}" class="card-img-top" alt="{{ turno }}">
                        {% endif %} -->

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'turnos_detail' turnos.pk %}">{{ turnos.id }}</a>
                            </h5>
                            <p class="card-text">Turno: {{ turnos.id_rol_usu }}</p>
                            <p>Fecha y hora del turno: {{ turno.fecha_hr_turno }}</p>
                            <p>Autorizado: {{ turno.autorizado }}</p>
                            <p>Servicio odontológico: {{ turno.id_serv_odon.nombre_serv_odon }}</p>
                            <p>Cobertura del usuario: {{ turno.id_cob_usu.id_plan_cob.nom_cob }}</p>
                            <p>Rol del usuario: {{ turno.id_rol_usu.name }}</p>
                            <p>Asignación de consultorio: {{ turno.id_asig_cons.num_cons }}</p>
                            <!-- <p class="card-text">
                                Fecha de Reserva: 
                                {% if turno.fecha_hr_turno %}
                                    {{ turno.fecha_hr_turno }}
                                {% else %}
                                    ---
                                {% endif %}
                            </p> -->
                            <!-- <p class="card-text">Estado: {{ turno.autorizado }}</p> -->
                        </div>
                        {% if perms.DentCorpApp.change_turnos or perms.DentCorpApp.delete_turnos %}
                        <div class="card-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% if perms.DentCorpApp.change_turno %}
                                    <a href="{% url 'turnos_update' turno.pk %}" class="btn btn-warning btn-sm">
                                        Cambiar reserva
                                    </a>
                                {% endif %}

                                {% if perms.DentCorpApp.delete_turnos %}
                                    <a href="{% url 'turnos_confirm_delete' turno.pk %}" class="btn btn-danger btn-sm">
                                        Cancelar reserva
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        No se encuentran turnos disponibles.
                    </div>
                </div>
            {% endfor %}
        </div>


{% endblock %}
