{% extends 'atencion-medica/tabla.html' %}
{% block title %} MEDICOS {% endblock %}
{% block name_page %} MEDICOS {% endblock%}
{% block boton_agregar_name %} MEDICO {% endblock%}
{% block titulos_tabla %}
    <td class="fila__titulo__contenido">Matricula</td>
    <td class="fila__titulo__contenido">Especialidad</td>
    <td class="fila__titulo__contenido">Nombre</td>
    <td class="fila__titulo__contenido">Apellido</td>
    <td class="fila__titulo__contenido">Domicilio</td>
    <td class="fila__titulo__contenido">Email</td>
    <td class="fila__titulo__contenido">Ciudad</td>
{% endblock %}
{% block contenido_tabla %} 
<tr class="fila__contenido">
    <td>1111</td>
    <td>Ortodoncista</td>
    <td>Karen</td>
    <td>Cordoba</td>
    <td>13 de julio 222</td>
    <td>karencrbaa@gmail.com</td>
    <td>Salta Capital</td>
</tr>
{% endblock %}