<div class="modal fade" id="TurnosModalCrear" tabindex="-1" aria-labelledby="TurnosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TurnosModalLabel">Agregar Turno</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'turno_create' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Reservar</button>
                <p>holaaaaaa</p>
            </form>
            <!-- <div class="row mt-3 mb-5">
                <div class="col-12">
                    {% include "partials/form.html" %}
                </div>
            </div> -->
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="TurnosModalModificar" tabindex="-1" aria-labelledby="TurnosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TurnosModalLabel">Modificar Turno</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Contenido del formulario para agregar un consultorio -->
              <!-- <form id="consultorioForm">
                  <div class="mb-3">
                      <label for="numConsultorio" class="form-label">Número de Consultorio</label>
                      <input type="text" class="form-control" id="numConsultorio" name="numConsultorio" required>
                  </div> -->

                  <button type="submit" class="btn btn-primary">Agregar Consultorio</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="TurnosModalEliminar" tabindex="-1" aria-labelledby="TurnosModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TurnosModalLabel">Eliminar Turno</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Contenido del formulario para agregar un consultorio -->
              <!-- <form id="consultorioForm">
                  <div class="mb-3">
                      <label for="numConsultorio" class="form-label">Número de Consultorio</label>
                      <input type="text" class="form-control" id="numConsultorio" name="numConsultorio" required>
                  </div> -->

                  <button type="submit" class="btn btn-primary">Agregar Consultorio</button>
              </form>
          </div>
      </div>
  </div>
</div>