{% extends 'atencion-medica/tabla.html' %}
{% block title %} PACIENTES {% endblock %}
{% block name_page %} PACIENTES {% endblock%}
{% block boton_agregar_name %} PACIENTE {% endblock%}
{% block titulos_tabla %}
    <td class="fila__titulo__contenido">DNI</td>
    <td class="fila__titulo__contenido">Nombre</td>
    <td class="fila__titulo__contenido">Apellido</td>
    <td class="fila__titulo__contenido">Domicilio</td>
    <td class="fila__titulo__contenido">Email</td>
    <!-- <td class="fila__titulo__contenido">Ciudad</td> -->
{% endblock %}
{% block example %} {% endblock %}
{% block contenido_tabla %} 
    {% for usuario in usuarios %}
        <tr class="fila__contenido">
            <td>{{ usuario.dni_usu }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.dom_usu }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.id_ciu.nom_ciu }}</td>
        </tr>
    {% endfor %}
{% endblock %}