{% extends 'atencion-medica/tabla.html' %}
{% block title %} SERVICIOS ODONTOLOGICOS {% endblock %}
{% block name_page %} SERVICIOS ODONTOLOGICOS {% endblock%}
{% block boton_agregar_name %} SERVICIO {% endblock%}
{% block titulos_tabla %}
<td class="fila__titulo__contenido">Codigo</td>
<td class="fila__titulo__contenido">Descripción</td>
<td class="fila__titulo__contenido">Costo</td>
{% endblock %}
{% block example %} {% endblock %}
{% block contenido_tabla %} 
    {% for servicio in servicios %}
        <tr class="fila__contenido">
            <td>{{ servicio.id }}</td>
            <td>{{ servicio.nombre_serv_odon }}</td>
            <td>{{ servicio.costo_serv_odon }}</td>
        </tr>
    {% endfor %}
{% endblock %}