{% extends 'base.html' %}
{% load static %}
{% block content  %}
    {% load crispy_forms_tags %}
<h2>{% block name_page %} {% endblock %}</h2>
<div class="div-principal">
    <div class="div-tabla">
        <table>
            <tr class="fila__titulo">
                {% block titulos_tabla %} {% endblock %}
            </tr>
            {% block contenido_tabla %} {% endblock %}
            </table>
    </div>
        <div class="div-botones">
        <form role="search">
            <select id="">
                <option disabled selected value="Default">Filtrar</option>
                <option value="Paciente">Paciente</option>
                <option value="Autorizado">Autorizado</option>
                <option value="Medico">Medico</option>
            </select>
            <div>
                <input type="search" placeholder="BUSCAR">
                <button type="submit"><img src="{% static 'assets/img/lupa.png' %}" alt="B"></button>
            </div>
        </form>
        {% block boton_agregar %} {% endblock %}
        {% block boton_modificar %} {% endblock %}
        {% block boton_eliminar %} {% endblock %}
        </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtén todos los botones con la clase "modal-opener"
        const modalOpeners = document.querySelectorAll('.modal-opener');

        // Manejar la apertura de la ventana modal al hacer clic en cualquier botón con la clase "modal-opener"
        modalOpeners.forEach(function (opener) {
            opener.addEventListener('click', function () {
                const modalId = this.getAttribute('data-modal-id');
                const modal = new bootstrap.Modal(document.getElementById(modalId));
                modal.show();
            });
        });
    });
</script>
{% endblock %}