{% extends 'base.html' %}
{% load static %}
{% block content  %}
    {% load crispy_forms_tags %}
<h2>{% block name_page %} {% endblock %}</h2>
<div class="div-principal">
    <div class="div-tabla">
        <table>
            <tr class="fila__titulo">
                {% block titulos_tabla %} {% endblock %}
            </tr>
            {% block contenido_tabla %} {% endblock %}
            </table>
    </div>
        <div class="div-botones">
        <form role="search">
            <select id="">
                <option disabled selected value="Default">Filtrar</option>
                <option value="Paciente">Paciente</option>
                <option value="Autorizado">Autorizado</option>
                <option value="Medico">Medico</option>
            </select>
            <div>
                <input type="search" placeholder="BUSCAR">
                <button type="submit"><img src="{% static 'assets/img/lupa.png' %}" alt="B"></button>
            </div>
        </form>
        <button>AGREGAR {% block boton_agregar_name %} {% endblock %}</button>
        <button>MODIFICAR</button>
        <button>ELIMINAR</button>
        </div>
</div>
{% endblock %}