body {
    background-image: url(../assets/img/fondo-principal.png);
    background-size: cover;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    height: 100vh;

    header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        background-color: #757575ad;
        padding: 15px;
        border-radius: 10px;

        div.empresa-logo {
            img {
                width: 200px;
                height: 60px;
                object-fit: cover;
            }
        }
        div.MENU {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            nav {
                border-radius: 15px;
                color: white;
                background: rgb(43, 43, 43);
                box-shadow: 0px 0px 5px 2px rgb(87, 87, 87);

                ul {

                    li {

                        a {
                            color: white;
                        }
                        a:hover {
                            color: rgb(153, 153, 153);
                        }
                        .nav-link.show {
                            color: rgb(153, 153, 153);
                        }
                        ul {
                            background: rgb(43, 43, 43);
                            li {
                                a {
                                    color: white;
                                }
                                a:hover {
                                    background: rgb(68, 68, 68);
                                    color: white;
                                }

                            }
                        }
                    }
                }
            }
        }
        div.perfil {
            ul {
                li {
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-size: 20px;
                        color: rgb(0, 0, 0);
                        font-weight: bolder;
                        padding: 5px 10px;
                        border-radius: 10px;
                        transition: background, color, 800ms;
                        img {
                            width: 50px;
                            height: 50px;
                            margin-right: 5px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            p.nombre-usuario {
                                margin: 0;
                            }
                            p.rol {
                                margin: 0;
                                font-size: 13px;
                            }
                        }
                    }
                    a:hover {
                        background: rgb(43, 43, 43);
                        color: white;
                        font-weight: bolder;
                        border-radius: 10px;
                        padding: 5px 10px;
                        transition: background, color, 500ms;
                    }
                    ul {
                        li {
                            a {
                                font-size: 15px;
                                border-radius: 0;
                            }
                            a:hover {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        h2 {
            text-align: center;
        }

        div.div-principal {
            background-color: rgba(0, 0, 0, 0.795);
            width: 90%;
            border-radius: 20px;
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            div.div-tabla {
                background-color: transparent;
                max-height: 300px;
                border: 4px solid rgb(255, 255, 255);
                border-radius: 5px;
                overflow-y: auto;
                width: 70%;
                table {
                    background: rgb(210, 210, 255);
                    width: 100%;
                    border-collapse: collapse;
                    tr {
                        cursor: pointer;
    
                        td {
                            text-align: center;
                            border: 1px solid rgb(192, 192, 252);
                            padding: 2px;
                        }
                        td.fila__titulo__contenido {
                            color: white;
                            font-weight: bolder;
                            background: rgb(83, 83, 155);
                        }
                    }
                    tr.fila__titulo {
                        user-select: none;
                        cursor: default;
                    }
                    tr.selected {
                        border-top: 4px solid rgb(0, 0, 0);
                        border-bottom: 4px solid rgb(0, 0, 0);
                        background-color: rgb(245, 245, 255);
                    }
                    tr.fila__contenido:hover {
                        background-color: rgb(245, 245, 255);
                    }
                }
            }
            div.div-botones {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: transparent;
                padding: 0px;

                form {
                    display: flex;
                    align-items: center;

                    select {
                        width: 80px;
                        height: 30px;
                        margin: 7px;
                        border: 1px solid rgb(255, 255, 255);
                        border-radius: 5px;
                        font-weight: bolder;
                        outline: none;

                        option[value="Default"] {
                            display: none;
                        }
                    }
                    select:hover {
                        cursor: pointer;
                    }

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        input {
                            outline: none;
                            border: 0;
                            border-radius: 5px;
                            width: 150px;
                            height: 30px;
                        }
                        input::placeholder {
                            text-align: center;
                        }
                        button {
                            border: 1px solid rgb(255, 255, 255);
                            background-color: white;
                            border-radius: 50%;
                            outline: none;
                            width: 30px;
                            margin-left: 4px;
                            padding: 0px;

                            img {
                                padding: 5px;
                            }
                        }
                    }
                }
                button {
                    margin: 7px;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(255, 255, 255);
                    border-radius: 50px;
                    padding: 2px;
                    width: 150px;
                    text-align: center;
                    font-size: 17px;
                    font-weight: bolder;
                }
                button:hover {
                    background-color: rgb(168, 168, 235);
                    border: 1px solid rgb(0, 0, 255);
                    transition: background 300ms;
                }
            }
        }
    }
    footer {
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        grid-area: footer;
        background-color: #000000da;
        color: white;
        height: 5vh;

        p {
            font-size: 18px;
        }
    }
}