{% extends 'atencion-medica/tabla.html' %}

{% load static %}
{% block title %} PACIENTES {% endblock %}
{% block name_page %} PACIENTES {% endblock%}
{% block boton_agregar_name %} PACIENTE {% endblock%}
{% block titulos_tabla %}
    <td class="fila__titulo__contenido">DNI</td>
    <td class="fila__titulo__contenido">Nombre</td>
    <td class="fila__titulo__contenido">Apellido</td>
    <td class="fila__titulo__contenido">Domicilio</td>
    <td class="fila__titulo__contenido">Email</td>
    <td class="fila__titulo__contenido">Ciudad</td>
    <td class="fila__titulo__contenido">OPCIONES</td>
{% endblock %}

{% block contenido_tabla %} 

    {% if users %}
        {% for user in users %}
            <tr class="fila__contenido">
                <td>{{ user.dni_usu }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.dom_usu }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.id_ciu.nom_ciu }}</td>
                <td class="td_botones">
                    <a href="{% url 'paciente_update' user.pk %}">
                        <button class="td_botones__boton">MODIFICAR</button>
                    </a>
                </td>                
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="7">No hay pacientes registrados</td>
        </tr>
    {% endif %}
{% endblock %}
{% block filtrar %}
    <div class="buscar">
        <form method="get" action="{% url 'paciente_buscar' %}">
            <select name="filtro">
                <option disabled selected value="Default">Filtrar</option>
                <option value="DNI">DNI</option>
                <option value="Email">Email</option>
            </select>
            <div>
                {{ form.as_p }}
                <input type="search" name="search" placeholder="BUSCAR">
                <button id="lupa" type="submit"><img src="{% static 'assets/img/lupa.png' %}" alt="B"></button> 
            </div> 
        </form>
    </div>
{% endblock %}
{% block botones %} 
    <a href="{% url 'paciente_create' %}">
        <button>AGREGAR PACIENTE</button>
    </a>
{% endblock %}