{% extends "base.html" %}

{% block title %} Lista de Especialidades {% endblock %}

{% block content %}
    <h1 class="my-3">Lista de Especialidades</h1>
    <hr>

    {% include "partials/alert.html" %}

    <div class="col-12">
        {% if perms.DentCorpApp.add_especialidad %}
            <a href="{% url 'especialidad_create' %}" class="btn btn-success mb-3">
                <i class="fas fa-plus mr-1"></i> Nueva Especialidad
            </a>
        {% endif %}

        <div class="row">
            {% for especialidad in especialidades %}
                <div class="col-md-4 mb-1">
                    <div class="card shadow-sm">

                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'especialidades_detail' especialidad.pk %}">{{ especialidad.id }}</a>
                            </h5>
                            <p class="card-text">Especialidad: {{ especialidad.descripcion }}</p>
                        </div>
                        {% if perms.DentCorpApp.change_especialidad or perms.DentCorpApp.delete_especialidad %}
                        <div class="card-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% if perms.DentCorpApp.change_especialidad %}
                                    <a href="{% url 'especialidad_update' especialidad.pk %}" class="btn btn-warning btn-sm">
                                        Editar
                                    </a>
                                {% endif %}

                                {% if perms.DentCorpApp.delete_especialidad %}
                                    <a href="{% url 'especialidad_delete' especialidad.pk %}" class="btn btn-danger btn-sm">
                                        Eliminar
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        ¡Oops! No hay especialidades para eliminar.
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                {% if page_obj.has_other_pages %}
                <div class="p-3 pb-0">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                                    Anterior
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Anterior</span>
                            </li>
                        {% endif %}

                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                                    Siguiente
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Siguiente</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

