{% extends "base.html" %}

{% block title %} Eliminación de Especialidad {% endblock %}

{% block content %}
    <h1 class="my-3">Confirmar Eliminación</h1>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">¿Estás seguro de eliminar esta especialidad?</h4>
                    
                    <p><strong>Especialidad:</strong> {{ especialidad.descripcion }}</p>
                    <p><strong>Código de especialidad:</strong> {{ especialidad.id }}</p>
                </div>

                <div class="card-footer">
                    <form method="POST" action=".">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'ejemplar_list' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
