{% extends 'atencion-medica/tabla.html' %}

{% load static %}
{% block title %} TURNOS {% endblock %}
{% block name_page %} TURNOS {% endblock%}
{% block boton_agregar_name %} TURNO {% endblock%}
{% block titulos_tabla %}
    <td class="fila__titulo__contenido">Paciente</td>
    <td class="fila__titulo__contenido">Email</td>
    <td class="fila__titulo__contenido">Fecha</td>
    <td class="fila__titulo__contenido">Autorizado</td>
    <td class="fila__titulo__contenido">Servicio</td>
    <td class="fila__titulo__contenido">Médico</td>
    <td class="fila__titulo__contenido">Cobertura</td>
    <td class="fila__titulo__contenido">Consultorio Asignado</td>
    <td class="fila__titulo__contenido">OPCIONES</td>
{% endblock %}

{% block contenido_tabla %} 
    {% if turnos %}
        {% for turno in turnos %}
            <tr class="fila__contenido">
                <td>{{ turno.id_usu.first_name }} {{ turno.id_usu.last_name }}</td>
                <td>{{ turno.id_usu.email }}</td>
                <td>{{ turno.fecha_hr_turno }}</td>
                <td>{{ turno.autorizado }}</td>
                <td>{{ turno.id_serv_odon.nombre_serv_odon }}</td>
                <td>{{ turno.id_asig_cons.id_espec_usu.id_usu.first_name }} {{ turno.id_asig_cons.id_espec_usu.id_usu.last_name }}</td>
                <td>{{ turno.id_cob_usu.id_plan_cob.id_cob.nom_cob }}</td>
                <td>{{ turno.id_asig_cons.id_cons.num_cons }}</td>
                <td class="td_botones">
                    <a href="{% url 'turno_update' turno.pk %}">
                        <button class="td_botones__boton">MODIFICAR</button> 
                    </a>
                    <a href="{% url 'turno_delete' turno.pk %}">
                        <button class="td_botones__boton">CANCELAR</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="9">No hay turnos registrados</td>
        </tr>
    {% endif %}
{% endblock %}
{% block filtrar %}
    <form method="get" action="{% url 'turno_buscar' %}">
        <select name="filtro">
            <option disabled selected value="Default">Filtrar</option>
            <option value="Cobertura">Cobertura</option>
            <option value="Email">Email</option>
        </select>
        <div>
            {{ form.as_p }}
            <input type="search" name="search" placeholder="BUSCAR">
            <button type="submit"><img src="{% static 'assets/img/lupa.png' %}" alt="B"></button>
        </div>
    </form>
{% endblock %}
{% block botones %} 
    <a href="{% url 'turno_create' %}">
        <button>AGREGAR TURNO</button>
    </a>
{% endblock %}