{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'styles/login/styles.css' %}">

<div class="container">
    <h1>Login</h1>
    <div class="formLog">
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" novalidate class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <img src="{% static 'styles/login/img/login.png' %}" alt="">
                <input type="text" placeholder="Correo electrónico" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}">
            </div>
            <div class="form-group">
                <img src="{% static 'styles/login/img/password.png' %}" alt="">
                <input type="password" placeholder="Contraseña" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}">
            </div>
            <button type="submit" class="button">Ingresar</button>
        </form>
    </div>
</div>
