{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" href="{% static 'styles/login/styles.css' %}">

    <div class="container">
        <h1>Login</h1>
        <div class="formLog">
            <form method="post" novalidate class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <img src="{% static 'styles/login/img/login.png' %}" alt="">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group">
                    <img src="{% static 'styles/login/img/password.png' %}" alt="">
                    {{ form.password|as_crispy_field }}
                </div>
                <button type="submit" class="button">Iniciar Sesión</button>
            </form>
        </div>
    </div>
{% endblock %}

